.navbar-inner {
    //background-color: #3c2415
    background-color: #5e3e29
}
.navbar {
    color: #fbfbfb
}

.page-content {
    background-color: #ecece0;
}
.list-block {
    margin: 20px 0;
    &.accordion-list {
        .icon {
            font-size: 31px;
            color: #5e3e29;
        }
        .item-inner {
            text-transform: uppercase;
        }
    }
    &.media-list {
        .icon {
            font-size: 31px;
            color: #5e3e29;
        }
        .item-title {
            font-weight: 700;
            font-size: 16px;
            color: #434343;
            text-transform: uppercase;
        }
        .item-subtitle {
            font-weight: 600;
            font-size: 12px;
            color: #c87137;
        }
        .item-media {
          //  padding-top: 0;
           // padding-bottom: 0;
        }
    }
    .item-title {
        color: #434343
    }
    .item-media {
        text-transform: none;
    }
}

.text-icon {
    margin-left: 10px;
}

.presets-icon {
    .item-after {
        .icon {
            font-size: 26px;
        }
    }
}
.badge {
    line-height: 21px;
}
.navbar {
    height: 50px;
}
.row {
    .col-100 {
        text-align: center;
    }
}
.preload, .preload.col-100 {
    margin: 16px 0px;
    padding: 0px 16px;
    font-size: 16px;
    font-weight: 500;
    color: black;
}
.item-title {
    &.labelin {
        &.label {
            text-transform: initial;
            color: #c87137 !important;
            font-size: 16px;
            width: 100%
        }
    }
}
.settings {
    &.accordion-item {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px;
        color: #434343;
        .item-after {
            color: #800080;
            max-height: 60px;
            font-size: 32px;
        }
    }
}

.card-header {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    //color: #006767;
    color: #434343
}


.system {
    &.accordion-item {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px;
        color: #434343;
        .item-after {
            color: #800080;
            max-height: 60px;
            font-size: 32px;
        }
    }
}

.caution {
    text-transform: initial;
}

.card-content-inner {
    color: #c87137;
    font-weight: 700;
    font-size: 16px;
}
.about {
    color: #434343
}
.preloader.color-blue .preloader-inner-gap, .preloader.color-blue .preloader-inner-half-circle, .preloader.preloader-blue .preloader-inner-gap, .preloader.preloader-blue .preloader-inner-half-circle {
    border-color: #c87137
}
/*.card-content-inner {
    &.item-title {
    &.labelin {
        &.label {
        font-weight: 700;
        }
    }
}
}*/
